In [11]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [3]:
df= sns.load_dataset('titanic')

In [4]:
df.cov()

/tmp/ipykernel_91/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
survived,0.236772,-0.137703,-0.551296,-0.018954,0.032017,6.221787,-0.132720,-0.048451
pclass,-0.137703,0.699015,-4.496004,0.076599,0.012429,-22.830196,0.038494,0.055347
age,-0.551296,-4.496004,211.019125,-4.163334,-2.344191,73.849030,2.012292,1.428550
sibsp,-0.018954,0.076599,-4.163334,1.216043,0.368739,8.748734,-0.136916,-0.315568
parch,0.032017,0.012429,-2.344191,0.368739,0.649728,8.661052,-0.138108,-0.230242
fare,6.221787,-22.830196,73.849030,8.748734,8.661052,2469.436846,-4.428757,-6.613861
adult_male,-0.132720,0.038494,2.012292,-0.136916,-0.138108,-4.428757,0.239723,0.097026
alone,-0.048451,0.055347,1.428550,-0.315568,-0.230242,-6.613861,0.097026,0.239723

In [5]:
df.corr()

/tmp/ipykernel_91/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
survived,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307,-0.557080,-0.203367
pclass,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500,0.094035,0.135207
age,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067,0.280328,0.198270
sibsp,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651,-0.253586,-0.584471
parch,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225,-0.349943,-0.583398
fare,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000,-0.182024,-0.271832
adult_male,-0.557080,0.094035,0.280328,-0.253586,-0.349943,-0.182024,1.000000,0.404744
alone,-0.203367,0.135207,0.198270,-0.584471,-0.583398,-0.271832,0.404744,1.000000

In [2]:
df1=[1,23,4,56,89,64,36,76,88]

In [3]:
var=pd.var(df1)
var

1032.9135802469136

In [4]:
stan=pd.std(df1)
stan

32.13897291835745

In [6]:
sh=[[10,32,34],[12,23,45],[67,75,43]]

In [16]:
data=pd.DataFrame(sh)

In [17]:
data.var(axis=0)

0    1046.333333
1     772.333333
2      34.333333
dtype: float64

In [18]:
data

    0   1   2
0  10  32  34
1  12  23  45
2  67  75  43

In [19]:
data.var(axis=1)

0    177.333333
1    282.333333
2    277.333333
dtype: float64